[Unit]
Description=momentum mouse Daemon
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/momentum_mouse
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
